{{ define "title" }}
  {{ .Title }} | {{ if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
{{ end }}

{{ define "main" }}
  {{ partial "header.html" . }}



  <section class="main">
    <header class="list-header offscreen">
      <h2 class="list-label">{{ .Title }}</h2>
    </header>



    <section>{{ partial "posts-by-categories.html" . }}</section>
    
    
    <section>{{ partial "posts-groupby-publish-date.html" . }}</section>





  </section>




  {{ partial "footer.html" . }}
{{ end }}
